---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<section class="min-h-dvh flex flex-col items-center justify-around">
		<div class="container">
			<img src="/images/logo2.png" alt="" />
			<div class="fs-primary-heading flex flex-col items-center mt-10">
				<p class="text-center">
					<strong class="text-accent-300">En cada despedida,</strong>
					una historia que perdura. <strong class="text-accent-300"
						>Funeraria Las Rosas,</strong
					> brindando consuelo con compasión
				</p>
			</div>
		</div>
		<span class="px-6 rounded"
			><a class="fs-900 font-bold" href="tel:+569 3299 4600">Llámanos</a
			></span
		>
		<div class="bg-secondary w-full">
			<h1 class="fs-900 font-bold text-center">
				Funeraria las rosas en funcionamiento las 24 horas
			</h1>
		</div>
	</section>
	<section></section>
	<section class="bg-secondary">
		<nav>
			<ul class="flex justify-evenly items-center h-20">
				<li>Básico</li>
				<li>Intermedio</li>
				<li>Completo</li>
			</ul>
		</nav>
	</section>
	<section class="flex flex-col m-10 rounded-xl items-center text-center">
		<div class="max-w-sm pb-3 overflow-hidden shadow-lg">
			<img
				class="w-full rounded-t-xl"
				src="https://th.bing.com/th/id/R.f0400e453543db1d6288c514eb78b137?rik=WOTNwYCk%2fwky0w&pid=ImgRaw&r=0"
				alt=""
			/>
			<div class="px-6 py-4">
				<div class="font-bold text-xl mb-2">Plan Básico</div>
				<p class="text-gray-700 text-base">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Voluptatibus quia, nulla! Maiores et perferendis eaque,
					exercitationem praesentium nihil.
				</p>
			</div>
			<div class="px-6 pt-4 pb-2">
				<span
					class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
					>#funebre</span
				>
				<span
					class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
					>#básico</span
				>
				<span
					class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
					>#service</span
				>
			</div>
		</div>
	</section>
</Layout>

<style></style>
